page{
    background-image: url('http://114.116.76.195:81/imgurl-master/upload/1812/4c5f802fe139f0f9.png');
    background-size: 100% 100%;
    height: 100%;
    widows: 100%;
}

.index{
    display: flex;
    height: 100%;
    width: 100%;
    flex-direction: column;
    align-items: center;
}

.icon{
    margin-top: 250px;
}

.formstyle{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 50px;
    height: 400px;
    width: 400px;

}

.picker{
    width: 100%;
}

.itemcontextbindname{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: row;
    overflow:hidden;
    text-overflow:ellipsis;
    color: white;
    width: 100%;
    padding: 5px;
}

.itemText{
    width: 35%;
    text-align: center
}
.itemValue{
    width: 65%;
    text-align: center
}
.inputStyle{
    display: flex;
    align-items: center;
    width: 100%;
    height: 30px;
    border-radius: 5px;
    line-height: 30px;
    margin-top: 15px;
}
